*,
*:before,
*:after {
	box-sizing: border-box;
}
body {
	margin: 0;
	color: #1E3264;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;

	background: rgb(141,8,181);
	background: linear-gradient(90deg, rgba(141,8,181,0.5) 0%, rgba(102,74,255,0.75) 50%, rgba(141,8,181,0.5) 100%) no-repeat;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
/* Container */
.container {
	width: 100%;
	height: 100%;
	max-width: 1000px;
	padding: 0 15px;
	margin: 0 auto;
}

/* Header */
.header {
	padding-top: 30px;
}
.header__inner {
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav {
	display: flex;
	justify-content: space-between;
}
.nav__link {
	padding-right: 20px;
	font-weight: 500;
	font-size: 17px;
	text-transform: uppercase;
	text-decoration: none;
	color: #1E3264;

}
.nav__link:last-child {
	padding-right: 0;
}
.nav__link:hover {
	color: #284898;
}

.intro {
	height: 100vh;
}
.intro__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	height: 100%;
	width: 100%;
	max-width: 600px;
	text-align: center;
}
.intro__title {
	margin-bottom: 20px;
	font-size: 35px;
	text-transform: uppercase;
}
.intro__content {
	padding: 10px 40px;
	font-family: 'PT Serif', sans-serif;
	font-size: 17px;
}
.block__inner {
	display: flex;
	flex-direction: column;
	max-width: 760px;
	margin: 15px auto 100px;
}
.block__title {	
	width: 100%;
	margin-bottom: 30px;
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
}

/* Works Block */
.work {
	width: 100%;
	margin: 10px auto;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-radius: 10px;	
}
.work:hover {
	box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
	background-color: rgba(0, 0, 0, 0.05);
}
.work:hover .work__stack {
	opacity: 1;
	width: auto;
}
.work__title {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 10px;
	font-size: 20px;
	color: #1E3264;
	text-decoration: none;
	cursor: pointer;
}
.work__title h5 {
	margin-bottom: 5px;
	transform: translateY(70%);
	transition: transform .2s linear;
}
.work:hover .work__title h5 {
	color: #284898;
	transform: translateY(0);
}
.work__stack {
	font-size: 20px;
	color: #8cff1a;
	opacity: 0;
	transition: opacity .2s linear;
}
.work__stack i{
	margin-right: 5px;
}
.work__stack i:last-child{
	margin-right: 0;
}

/* Stack block */
.stack__items {
	display: flex;
	justify-content: space-between;
	align-content: center;
	max-width: 600px;
	margin: 0 auto;
}
.stack__item {
	font-size: 80px;
}
.stack__item i:hover {
	text-shadow: 2px 2px rgba(0,0,0,0.3);
}
.stack__item a {
	text-decoration: none;
	color: #1E3264;
}

/* Icons*/
.work__stack i.fa-html5,
.stack__item i.fa-html5:hover {
	color: #ef6026;
}
.work__stack i.fa-css3-alt,
.stack__item i.fa-css3-alt:hover {
	color: #25a1e1;
}
.work__stack i.fa-js,
.stack__item i.fa-js:hover {
	color: #fdd734;
}
.work__stack i.fa-bootstrap,
.stack__item i.fa-bootstrap:hover {
	color: #5c3e86;
}
.work__stack i.fa-react,
.stack__item i.fa-react:hover {
	color: #61dbfb;
}
.work__stack i.fa-node-js,
.stack__item i.fa-node-js:hover {
	color: #80bd01;
}
.work__stack i.fa-vuejs,
.stack__item i.fa-vuejs:hover {
	color: #3fb984;
}

.wip {
	color: #c70505;
}


/* About Block */
.about {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px;
	margin: 0 auto;
	max-width: 700px;
}
.about__photo {
	margin-right: 50px;
	height: auto;
	max-width: 240px;
	width: 100%;
	background-color: #333;
}
.about__text {
	padding: 10px;
	height: 100%;
	font-family: 'PT Serif', sans-serif;
	font-size: 17px;
}

/* Contacts Block*/
.contacts {
	display: flex;
	justify-content: space-around;
	max-width: 300px;
	width: 100%;
	margin: 0 auto;
	font-size: 40px;
}
.contacts__link {
	text-decoration: none;
	color: #1E3264; 	
}
.contacts__link:hover {
	text-shadow: 2px 2px rgba(0,0,0,0.3);
}


/* Button To Top*/
.btn--totop {
	display: none;
	height: 100vh;
	position: fixed;
	left: 0;
	bottom: 0;
	font-size: 10px;
	text-transform: uppercase;
	text-decoration: none;
	color: #1E3264;
	border: 1px solid rgba(0, 0, 0, 0.01);
	z-index: 10;
}
.btn--totop:hover {
	box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
	background-color: rgba(0, 0, 0, 0.05);
}
.btn--totop__body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.btn--totop__body i {
	font-size: 24px;
}
.btn--totop__text {
	padding: 3px;
}